body {
	font-family: sans-serif;
	line-height: 1.4;
	text-align: center;
}


#main-container{
	width: 1024px;
}
header{
	background-color: black;
	height: 60px;
	line-height:0px;
}

#logo{
	height: 40px;
	padding:10px;
	float: left;
}

.editorial{
	padding: 30px;
	margin-left: 300px;
	margin-right: 300px;
}

#menu{
	float:right;
	padding: 10px;
}

.hero-img{
	height:450px;
	width: 100%;
	background: transparent;
}

.menu-item{
	display: inline-block;
	color: white;
	padding:20px;
}

h1{
	font-size: 30px;
	padding-bottom: 15px;
}

h3{
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 20px;
}

.content{
	font-size: 13px;
	color: #83838f;
}

.article-container{
	padding: 10px 10% 60px;

}

h4{
	font-weight: bold;
	padding-bottom: 10px;
}
article{
	display: inline-block;
	width:28%;
	padding: 0 2%;
}
.article-image{
	width:100%;
}

footer{
	background-color: black;
	color:white;
	height:100px;
}
footer div {
	height: 50%;
}

#copy-right{
	color: #83838f;
	padding-top:10px;
	display: inline-block;
}

hr {
	color: #83838f;
}

footer div span{
	padding-left:15px;
}


#cross {
	background: white;
	height: 100px;
	position: relative;
	width: 20px;
}
#cross:after {
	background: white;
	content: "";
	height: 20px;
	left: -40px;
	position: absolute;
	top: 40px;
	width: 100px;
}

#image-container {
	position: relative;
}

#hotspot1{
	position: absolute;
	top:100px;
	left:200px;
}

#hotspot2{
	position: absolute;
	top:300px;
	left:500px;
}

.tool-tip{
	visibility: hidden;
	position:absolute;
	left:50px;
	width: 160px;
	bottom:10px;
	background: white;
	padding:10px;
	text-align: left;
}

.hotspot:hover img{
	transform: rotate(45deg);

}
.hotspot:hover .tool-tip{
	visibility: visible;
}

